
/* Css for All*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
*{
    margin: 0 0;
    padding: 0 0;
}
.img-responsive{
    width: 100%;
    cursor: pointer;
}
.img-rounded{
    border-radius: 10px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ff6b81;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color : red;
}
.clearfix{
    clear: both;
    float: none;
}
.btn{
    padding: 1% ;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: blue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.2s;
    color: whitesmoke;
}
h2{
    color:#57606f;
    margin-bottom: 2%;
}
h4{
    font-size: 1.2rem;
}

/* CSS for NavBar */
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 0 1%;
    font-weight: bold;
}
/* CSs For NAvBar */

/* CSS for search bar */
.search{
    background-image: url(../images/pasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7% 0;
    background-position: center;
}
.search input[type=search]{
    width: 50%;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 1%;
}

/* CSS for Categories */
.categories{
    padding: 4% 0;
}
.card{
    width: 16%;
    margin: 2%;
    float: left;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    left: 45%;
    bottom: 40px;
}

/* CSS for Food menu */
.food-menu{
    padding: 4% 0;
    background: whitesmoke;
}
.box{
    width: 43%;
    float: left;
    margin: 1%;
    padding: 2%;
    background: white;
    border-radius: 10px;
}
.box-img{
    width: 20%;
    float: left;
}
.box-desc{
    width: 70%;
    float:left;
    margin: 2%;
}
.item-price{
    font-size: 1.3rem;
    padding: 1% 0;
}
.item-desc{
    font-size: 1rem;
    color: gray;
    padding-bottom: 1%;
}
.social{
    padding: 4% 0;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 0 1%;
}

/* Responsive or Mobile Devices */
@media screen and (max-width: 728px) {
    .logo{
        width: 80%;
        float: none;
        padding: 1% 0;
    }
    .menu{
        width: 90%;
        font-size: 1rem;
        float: none;
        text-align: center!important;
        font-weight: unset;
    }
    .search{
        padding: 10% 0;
    }
    .search input[type=search]{
        width: 90%;
        padding: 2% 0;
        margin: 4% 0;
        font-size: 1rem;
        line-height: 10px;
    }
    .btn{
        width: 90%;
    }
    .categories{
        padding: 10% 0;
    }
    .card{
        width: 90%;
        padding: 0 5%;
    }
    .float-text{
        left: 40%;
    }
    .food-menu{
        padding: 10% 0;
    }
}

/* For Images Grayscale*/
.card img {
    width: 100%;
    filter: grayscale(100%);
    transition: 1s;
}

.card img:hover{
	filter: grayscale(0%);
	transform: scale(1.1);
}
